<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:{{@navbarColor}}"
>
  <a class="navbar-brand" href="#">
    <img class="navbar-logo" alt="zakatlogo" src={{@navbarLogo}} />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p class="nav-title" style="color:{{@navbarTextColor}}">
          Manage Admin Page
        </p>

      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0 position-relative">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        style="background-color:{{@searchColor}}"
      />
      <span class="position-absolute" style="right:20px">
        {{! <i class="fa-solid fa-magnifying-glass"></i> }}
        <img class="search-img" src={{@searchIcon}} alt="searchimg" />
      </span>

    </form>
  </div>
</nav>