<div class="container-fluid">
  <div class="row main-wrapper">
    <div
      class="col-10 admin-content"
      style="background-color: {{@adminPanelData.adminPanelBackground}}"
    >
      <div class="content-wrapper">

        <AdminPanelNavbar
          @navbarTextColor={{@adminPanelData.navbarTextColor}}
          @searchIcon={{@adminPanelData.searchIcon}}
          @searchColor={{@adminPanelData.searchColor}}
          @navbarLogo={{@adminPanelData.navbarLogo}}
          @navbarColor={{@adminPanelData.navbarColor}}
        />

        <div class="row user-content-wrapper">
          <div class="col-8 table-div">

            <div class="table-responsive table-wrapper admin-table">
              <UserTable
                @tableTextColor={{@adminPanelData.userTableTextColor}}
                @tableColor={{@adminPanelData.userTableColor}}
              />
              {{!-- <UserTable @color={{@color}} /> --}}
              {{!-- <UserTable @color={{@color}} /> --}}
            </div>
            <div class="new-admin-btn-div">
              <button
                style="background-color: {{@adminPanelData.userTableColor}}"
                type="button"
                class="btn new-admin-btn"
                data-toggle="modal"
                data-target="#exampleModalCenter"
              >
                <span class="mr-2">
                  <i class="fa-solid fa-plus"></i>
                </span>
                New Admin</button>
            </div>
          </div>

          <div class="col-4 add-user-form">

          </div>
        </div>

        <div class="divider"></div>
        <div class="col-8 table-div">
          <div class="archive-user-content">
            <div class="table-responsive table-wrapper admin-table">
              <UserTable
                @tableTextColor={{@adminPanelData.archiveTableTextColor}}
                @tableColor={{@adminPanelData.archiveUserTableColor}}
              />
            </div>
          </div>
        </div>

      </div>

      <AdminPanelFooter @footerColor={{@adminPanelData.footerColor}} />

      {{! Modal }}
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ProfileForm @model={{@addUserModel}} />
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-2 admin-side-navbar">

      <AdminPanelSidenavbar
        @profilePicShape={{@adminPanelData.profilePicShape}}
        @accountProfilePic={{@adminPanelData.accountProfilePic}}
        @menuData={{@adminPanelData.sideNavbarBtns}}
        @navbarColor={{@adminPanelData.sideNavbarColor}}
      />

    </div>

  </div>

</div>