<div class="table-responsive table-wrapper">

  <table class="table fadde" {{did-insert this.dragFunctionality}}>

    <thead>
      <tr>
        {{#each @tableData.tableColumn as |column|}}
          <td>{{column}}</td>
        {{/each}}
        <td>Action</td>

      </tr>
    </thead>
    <tbody>

      {{#each @tableData.data as |row|}}
        <tr>
          {{#each-in row as |key value|}}
            {{#if (eq key "_id")}}
              <td>
                <div class="drop-menu">
                  <div class="font-weight-bold">{{value}}</div>
                  <div class="mt-2">
                    {{! template-lint-disable no-inline-styles }}
                    <select
                      style="text-align:center"
                      id="selectAction1"
                      class="form-control"
                    >

                      <option selected>Action</option>
                      <option>edit</option>
                      <option>delete</option>

                    </select>
                  </div>
                </div>
              </td>
            {{else}}
              <td>{{value}}</td>
            {{/if}}
          {{/each-in}}
          <td>
            {{! template-lint-disable no-inline-styles }}
            <select
              style="text-align:center"
              id="selectAction2"
              class="form-control action-drop-menu"
            >
              <option selected>Action</option>
              <option>Edit</option>
              <option>Delete</option>
            </select></td>
        </tr>
      {{/each}}

    </tbody>
  </table>
</div>