<table class="table">
  <thead class="" style="background-color:{{@tableColor}}">
    <tr>
      <th
        style="border-left: 1px solid {{@tableColor}};color: {{@tableTextColor}}"
      >#</th>
      <th scope="col" style="color: {{@tableTextColor}}">Name</th>
      <th scope="col" style="color: {{@tableTextColor}}">Role</th>
      <th scope="col" style="color: {{@tableTextColor}}">Contact</th>
      <th
        style="border-right: 1px solid {{@tableColor}};color: {{@tableTextColor}}"
      >Manage User</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px dotted {{@tableColor}}">1</td>
      <td style="border: 1px dotted {{@tableColor}}">
        <div class="d-flex align-items-center">
          <div class="mr-1 table-user-img-wrapper">
            <img
              class="user-img"
              src="https://www.shutterstock.com/image-photo/portrait-young-smiling-caucasian-man-260nw-1491969899.jpg"
              alt="table-user-img"
            />
          </div>
          <div>
            Mark Jack
          </div>
        </div>

      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <select id="selectAction1" class="form-control">
          <option selected>Action</option>
          <option>edit</option>
          <option>delete</option>
        </select>
      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <div>
          <div class="d-flex align-items-center ml-3">
            <span class="mr-3"><i class="fa-solid fa-phone"></i></span>
            <span>0171334466</span>
          </div>
          <div class="d-flex align-items-center ml-3">
            <span class="mr-3"><i class="fa-solid fa-envelope"></i></span>
            <span>test@gmail.com</span>
          </div>

        </div>
      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <select class="form-control">
          <option selected>Action</option>
          <option>edit</option>
          <option>delete</option>
        </select>
      </td>
    </tr>
    <tr>
      <td style="border: 1px dotted {{@tableColor}}">2</td>
      <td style="border: 1px dotted {{@tableColor}}">
        <div class="d-flex align-items-center">
          <div class="mr-1 table-user-img-wrapper">
            <img
              class="user-img"
              src="https://www.shutterstock.com/image-photo/portrait-young-smiling-caucasian-man-260nw-1491969899.jpg"
              alt="table-user-img"
            />
          </div>
          <div>
            Mark Jack
          </div>
        </div>

      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <select id="selectAction1" class="form-control">
          <option selected>Action</option>
          <option>edit</option>
          <option>delete</option>
        </select>
      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <div>
          <div class="d-flex align-items-center ml-3">
            <span class="mr-3"><i class="fa-solid fa-phone"></i></span>
            <span>0171334466</span>
          </div>
          <div class="d-flex align-items-center ml-3">
            <span class="mr-3"><i class="fa-solid fa-envelope"></i></span>
            <span>test@gmail.com</span>
          </div>

        </div>
      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <select class="form-control">
          <option selected>Action</option>
          <option>edit</option>
          <option>delete</option>
        </select>
      </td>
    </tr>

    <tr>
      <td style="border: 1px dotted {{@tableColor}}">3</td>
      <td style="border: 1px dotted {{@tableColor}}">
        <div class="d-flex align-items-center">
          <div class="mr-1 table-user-img-wrapper">
            <img
              class="user-img"
              src="https://www.shutterstock.com/image-photo/portrait-young-smiling-caucasian-man-260nw-1491969899.jpg"
              alt="table-user-img"
            />
          </div>
          <div>
            Mark Jack
          </div>
        </div>

      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <select id="selectAction1" class="form-control">
          <option selected>Action</option>
          <option>edit</option>
          <option>delete</option>
        </select>
      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <div>
          <div class="d-flex align-items-center ml-3">
            <span class="mr-3"><i class="fa-solid fa-phone"></i></span>
            <span>0171334466</span>
          </div>
          <div class="d-flex align-items-center ml-3">
            <span class="mr-3"><i class="fa-solid fa-envelope"></i></span>
            <span>test@gmail.com</span>
          </div>

        </div>
      </td>
      <td style="border: 1px dotted {{@tableColor}}">
        <select class="form-control">
          <option selected>Action</option>
          <option>edit</option>
          <option>delete</option>
        </select>
      </td>
    </tr>

  </tbody>
</table>