<tr>
  <td rowspan="8" style="border: 1px dotted {{@tableColor}}">1</td>
  <td rowspan="8" style="border: 1px dotted {{@tableColor}}">
    <div class="my-3">Medical</div>
    <div class="my-3">Immediate</div>
    <div class="my-3">request Admin :</div>
    <div class="my-3" style="color:blue">Mohammad Adnan Akhttar Tony</div>

  </td>
  <td rowspan="8" style="border: 1px dotted {{@tableColor}}">
    <div class="my-3">Requested </div>
    <div class="my-3">Disbursement Date:</div>
    <div class="my-3"> 20 May,2023</div>
    <div class="my-3">Requested Tocket No:1113634534534</div>

  </td>
  <td rowspan="8" style="border: 1px dotted {{@tableColor}}">
    100000 $
  </td>
  <td rowspan="8" style="border: 1px dotted {{@tableColor}}">
    <div class="my-3">Mohammad Adnan Akhtar Tony</div>
    <div class="my-3"><span style="color:blue">NID</span>:111423423</div>
    <div class="my-3" style="color:blue">123123 Mohammad Adnanr Tony's NID</div>
  </td>

  <td rowspan="8" style="border: 1px dotted {{@tableColor}}">
    <div>
      <div class="my-3 d-flex align-items-center ml-3">
        <span class="mr-3"><i class="fa-solid fa-phone"></i></span>
        <span>0171334466</span>
      </div>
      <div class="my-3 d-flex align-items-center ml-3">
        <span class="mr-3"><i class="fa-solid fa-envelope"></i></span>
        <span>test@gmail.com</span>
      </div>
      <div class="my-3 ml-3">
        3rd floor,House 11/B,Road 30,Gulshan 1, Dhaka,1205,Bangladesh
      </div>

    </div>
  </td>

  <td rowspan="8" style="border: 1px dotted {{@tableColor}}">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magni!
  </td>

  <td
    class="zakat-request-status active"
    style="border: 1px dotted {{@tableColor}}"
  >
    <div>
      Request Pending
    </div>
  </td>

  <td style="border: 1px dotted {{@tableColor}}">
    <div>6th May, 23,1:23 am</div>
    <div>3D,2H,30M</div>
  </td>
  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">
    <select class="form-control">
      <option selected></option>
      <option>edit</option>
      <option>delete</option>
    </select>
  </td>

</tr>

<tr>

  <td class="zakat-request-status" style="border: 1px dotted {{@tableColor}}">
    <div>
      File Under Review
    </div>
  </td>

  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">
    <select class="form-control">
      <option selected></option>
      <option>edit</option>
      <option>delete</option>
    </select>
  </td>

</tr>

<tr>

  <td class="zakat-request-status" style="border: 1px dotted {{@tableColor}}">
    <div>
      File Under Process
    </div>
  </td>

  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">
    <select class="form-control">
      <option selected></option>
      <option>edit</option>
      <option>delete</option>
    </select>
  </td>

</tr>

<tr>
  <td class="zakat-request-status" style="border: 1px dotted {{@tableColor}}">
    <div>
      Required for Budjet Allocation
    </div>
  </td>

  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">
    <select class="form-control">
      <option selected></option>
      <option>edit</option>
      <option>delete</option>
    </select>
  </td>

</tr>

<tr>

  <td class="zakat-request-status" style="border: 1px dotted {{@tableColor}}">
    <div>
      Donor Acceptance
    </div>
  </td>

  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">
    <select class="form-control">
      <option selected></option>
      <option>edit</option>
      <option>delete</option>
    </select>
  </td>

</tr>

<tr>

  <td class="zakat-request-status" style="border: 1px dotted {{@tableColor}}">
    <div>
      Zakat Approval
    </div>
  </td>

  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">
    <select class="form-control">
      <option selected></option>
      <option>edit</option>
      <option>delete</option>
    </select>
  </td>

</tr>

<tr>

  <td class="zakat-request-status" style="border: 1px dotted {{@tableColor}}">
    <div>
      Physical Verification
    </div>
  </td>

  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">
    <select class="form-control">
      <option selected></option>
      <option>edit</option>
      <option>delete</option>
    </select>
  </td>

</tr>

<tr>

  <td class="zakat-request-status" style="border: 1px dotted {{@tableColor}}">
    <div>
      Zakat Dashboard
    </div>
  </td>

  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">

  </td>
  <td style="border: 1px dotted {{@tableColor}}">
    <select class="form-control">
      <option selected></option>
      <option>edit</option>
      <option>delete</option>
    </select>
  </td>

</tr>