<table class="table zakat-request-table">
  <thead class="" style="background-color:{{@tableColor}}">
    <tr>
      <th
        style="border-left: 1px solid {{@tableColor}};color: {{@tableTextColor}}"
      >#</th>
      <th scope="col" style="color: {{@tableTextColor}}">Zakat Request Type</th>
      <th scope="col" style="color: {{@tableTextColor}}">Request #</th>
      <th scope="col" style="color: {{@tableTextColor}}">Amount Requested</th>
      <th scope="col" style="color: {{@tableTextColor}}">Individual Details</th>
      <th scope="col" style="color: {{@tableTextColor}}">Contacts</th>
      <th scope="col" style="color: {{@tableTextColor}}">Description</th>
      <th scope="col" style="color: {{@tableTextColor}}">Status</th>
      <th scope="col" style="color: {{@tableTextColor}}">Status Date Time</th>
      <th scope="col" style="color: {{@tableTextColor}}">Review</th>
      <th
        style="border-right: 1px solid {{@tableColor}};color: {{@tableTextColor}}"
      >Disposition</th>
    </tr>
  </thead>
  <tbody>
    <ZakatRequest::ZakatRequestTableTr />

  </tbody>
</table>