{{!-- <div class="container create-user">
  <header class="header">
    <h1>Users Register</h1>
  </header>
  <div class="main">
    <TextInputz
      @label={{"First Name"}}
      @type={{"text"}}
      @name={{"name"}}
      @placeholder={{"Enter your first name"}}
      @value={{model.name}}
      @model={{model}}
      @showError={{showError}}
    />
    <TextInput
      @label={{"Email"}}
      @type={{"text"}}
      @name={{"email"}}
      @placeholder={{"Enter email"}}
      @value={{model.email}}
      @model={{model}}
      @showError={{showError}}
    />
    <TextInput
      @label={{"Mobile Number"}}
      @type={{"number"}}
      @name={{"mobileNumber"}}
      @placeholder={{"Enter your mobile number"}}
      @value={{model.mobileNumber}}
      @model={{model}}
      @showError={{showError}}
    />
  </div>
  <div class="footer">
    <button class="btn grey-btn" type="button" {{action "reset" model}}>Reset</button>
    <button class="btn green-btn" type="button" {{action "submit" model}}>Submit</button>
  </div>
</div> --}}